/* Table of Content */

[role=doc-toc] {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  [role=doc-toc] [role=doc-pagelist] {
    list-style: none;
    margin: 0.2em 0 0 1.2em;
    overflow: hidden;
    padding: 0;
  }
  [role=doc-toc] [role=doc-pagelist] li {
    margin: 0;
    padding: 0 0 0 1.4em;
    position: relative;
  }
  [role=doc-toc] [role=doc-pagelist] li::after {
    border: 0 solid;
    border-top-width: 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0.8em;
    width: 1em;
  }
  [role=doc-toc] [role=doc-pagelist] li::before {
    border: 0 solid;
    border-left-width: 1px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  [role=doc-toc] [role=doc-pagelist] li:last-child::after {
    background: var(--background-light);
  }
  [role=doc-toc] [role=doc-pagelist] [role=doc-pagelist] {
    margin: 0 0 0 0.2em;
  }
  [role=doc-toc] [role=heading] {
    color: inherit;
    cursor: pointer;
    display: inline;
    font: inherit;
    font-weight: bold;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  [role=doc-toc] [role=heading]::-webkit-details-marker {
    display: none;
  }